<h1>Login</h1>

<%= form_for(:session, url: login_path) do |form| %>

<%= form.label :name %>
<%= form.text_field :name, class: 'form-control' %>

<%= form.submit "Login", class: "btn btn-primary" %>
<% end %>