<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>

<div style="background-image:url('<%# article_url.image %>'); background-size:cover; background-repeat: no-repeat; height:100%;">

</div>