@import 'bootstrap/scss/bootstrap';
// @import '@fortawesome/fontawesome-free';

* {
    box-sizing: border-box;
}

.col,
.col-9 {
    padding: 0!important;
}

.side {
    height: 100%;
}

.sided {
    height: 80%;
}

.logo {
    height: 50px;
    margin-left: 10px;
}

nav {
  border-bottom: 2px solid rgb(100, 94, 94);
}

.col-3 {
    padding: 0!important;
}

.w-100s {
    width: 100%;
    height: 70vh;
}

.new {
    width: 50%;
}

.bg {
    height: 100vh;
    background-image: url('https://res.cloudinary.com/elijjaaahhhh/image/upload/v1584979926/burrito-chicken-delicious-dinner-461198_gubpjf.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bold {
    font-weight: bold;
} 

h5 .head {
    border-bottom: 3px solid orange;
}

.head {
    border-bottom: 3px solid orange;
    padding: 5px;
}

.font {
    color: rgb(100, 75, 59);
}

.caption {
    font-weight: bold;
}
