/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* .bg {
    width: 100px;
    height: 200px;
} */

@import "bootstrap";
/* // @import "font-awesome-sprockets";
// @import "font-awesome"; */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.col,
.col-9 {
    padding: 0!important;
}

.side {
    height: 100%;
}

.sided {
    height: 80%;
}

.logo {
    height: 50px;
    margin-left: 10px;
}

nav {
  border-bottom: 2px solid rgb(100, 94, 94);
}

.w-100s {
    width: 100%;
    height: 70vh;
}
.new {
    width: 50%;
}

.bold {
    font-weight: bold;
} 

h5 .head {
    border-bottom: 3px solid orange;
}

.head {
    border-bottom: 3px solid orange;
    padding: 5px;
}

.font {
    color: rgb(100, 75, 59);
}

.caption {
    font-weight: bold;
}