@import "bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.col,
.col-9 {
    padding: 0!important;
}

.side {
    height: 100%;
}

.sided {
    height: 80%;
}

.logo {
    height: 50px;
    margin-left: 10px;
}

nav {
  border-bottom: 2px solid rgb(100, 94, 94);
}

// .amba1 {
//     background-image: url('https://res.cloudinary.com/elijjaaahhhh/image/upload/v1584497690/adeolu-eletu-rFUFqjEKzfY-unsplash_fdrsfq.jpg');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 250px;
// }

// .amba2 {
//     background-image: url('https://res.cloudinary.com/elijjaaahhhh/image/upload/v1584498687/dane-deaner-bIGJUpf6D-4-unsplash_frvxaq.jpg');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 250px;
// }

// .amba3 {
//     background-image: url('https://res.cloudinary.com/elijjaaahhhh/image/upload/v1584497692/hermes-rivera-qbf59TU077Q-unsplash_mc7lec.jpg');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 250px;
// }

// .amba4 {
//     background-image: url('https://res.cloudinary.com/elijjaaahhhh/image/upload/v1584497716/austin-distel-rxpThOwuVgE-unsplash_yejjv3.jpg');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 250px;
// }

// .ambar {
//     background-image: url('https://res.cloudinary.com/elijjaaahhhh/image/upload/v1584979926/burrito-chicken-delicious-dinner-461198_gubpjf.jpg');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     // height: 250px;
// }

.w-100s {
    width: 100%;
    height: 70vh;
}
.new {
    width: 50%;
}

// .bg {
//     height: 100vh;
//     background-image: url('https://res.cloudinary.com/elijjaaahhhh/image/upload/v1584979926/burrito-chicken-delicious-dinner-461198_gubpjf.jpg');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

.bold {
    font-weight: bold;
} 

h5 .head {
    border-bottom: 3px solid orange;
}

.head {
    border-bottom: 3px solid orange;
    padding: 5px;
}

.font {
    color: rgb(100, 75, 59);
}

.caption {
    font-weight: bold;
}